.tic-tac-toe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: purple;
    padding: 20px;
    border-radius: 25px;
    width: 100%;
    max-width: 400px;
    max-height: 400px;
}

.tic-tac-toe .game {
    display: grid;    
    border-radius: 35px;
    background-color: rgb(73, 65, 88);
    grid-template-columns: repeat(3, 1fr);
    gap: 5px
}

.tic-tac-toe .square:hover {
    cursor: pointer;
}

button {
    border-radius: 99px;    
    padding: 10px;
    cursor: pointer;
    border:none;
    background-color: magenta;
    color: white;
    font-weight: bold;
}

.tic-tac-toe .square {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;    
    background-color: white;    
    width: 80px;
    height: 80px;    
    font-size: 50px;
    color:black;

}

.tic-tac-toe .square:nth-child(1){
    border-top-left-radius: 30px;
}

.tic-tac-toe .square:nth-child(3){
    border-top-right-radius: 30px;
}

.tic-tac-toe .square:nth-child(7){
    border-bottom-left-radius: 30px;
}

.tic-tac-toe .square:nth-child(9){
    border-bottom-right-radius: 30px;
}


.tic-tac-toe .turns{
    display:flex;
    gap: 20px;
}

.tic-tac-toe .turns .turn {
    display: flex;    
    align-items: center;
    justify-content: center;
    min-width: 80px;
    height: 80px;
    border-radius: 25px;    
    font-size: 50px;
}

.tic-tac-toe .selected {
    background-color: white;
    color:black;
}


.winner-modal {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px;

  }

  .win {
    font-size: 50px;
    padding: 10px;
  }